	*
	{
		margin : 0;
		padding: 0;
		font-family: sans-serif;
		box-sizing: border-box;
		overflow-x: hidden;

	}

	.hero
	{
		width : 100%;
		height: auto;
		background-color:#0dbdb4 ;
		background-position: center;
		background-size: cover;
		position : relative;
		overflow: auto;
	}

	.logo{
		margin-top: -5px;
		width : 100px;
		cursor : pointer;
	}

	.navbar{
		width : 100%;
		height : 15%;
		margin : auto;
		display: flex;
		background-attachment: fixed;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	
	
	.menu-bar
	{
	  
	  background: -webkit-linear-gradient(#00545d, #000729);*/
	  background: transparent;
	  text-align : center;
	  width:100%;
	}

	.menu-bar ul
	{
	  display : inline-flex;
	  list-style : none;
	  color : white;
	}

	.menu-bar ul li
	{
	  margin : 15px;
	  padding : 10px;
	  width : 160px;

	  
	}

	.menu-bar ul li a
	{
	  text-decoration : none;
	  color : white;
	  
	  font-size: 20px;
	}

	
	.menu-bar ul li a:hover{
		color: powderblue;
	}

	.menu-bar ul li:hover
	{
	  background:-webkit-linear-gradient(#00545d, #000729); 
	  
	  border-bottom: 2px solid white;
	}

	.submenu-1
	{
	display : none;
	}

	.menu-bar ul li:hover .submenu-1
	{
	  display : block;
	  position : absolute;
	  background: -webkit-linear-gradient(#00545d, #000729); 
	  margin-left: -15px;
	  margin-top: 33px;
	 
	}

	.menu-bar ul li:hover .submenu-1 ul {
	  margin: 0px;

	  padding: 0px;
	  width : 160px;
	  display: block;
	}


	.menu-bar ul li:hover .submenu-1  ul li 
	{
		  width: 160px;
		  display: block;
		 
		  
		  border-bottom: none;
		  background : transparent;
		  text-align : left;
	}

	.menu-bar ul li:hover .submenu-1 ul li:last-child
	{
	  border-bottom : none;
	}

	.menu-bar ul li:hover .submenu-1 ul li a:hover
	{
	  color : powderblue;
	}

	footer 
		{
		  width : 100%;
		  text-align: center;
		  padding: 4px;
		  
		  color : white;
		  margin-top: 1000px;
		  background: -webkit-linear-gradient(#00545d, #000729);
		}
	