<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HOME</title>
</head>
<link rel = "stylesheet" href = "css/rippleshomepage.css">
<body>
	<div class = "hero">
		<div class = "navbar">
			<div class = "menu-bar">
				<ul>
					  <li><img src = "images/logo.png" class = "logo"></li>
					  <!--li><a href = ""><b>IMPULSE</b></a></li-->
					  <li><a href = "file:///D:/RIPPLES%20WEBSITE/HOME%20PAGE%20ANIMATED/ripplesmainpage.html">Home</a></li>
					  <li><a href = "">About Us</a></li>
					  <li><a href = "#">Events</a></li>

					  <li><a href = "#">Workshops</a></li>
					  <li><a>Login|Register</a></li>
				</ul>
			</div>
				
		</div>

		<div class = "content">
			<h1><a href = "file:///D:/RIPPLES%20WEBSITE/HOME%20PAGE%20ANIMATED/ripplesmainpage.html">Are you ready to witness the nth edition of Ripples</a></h1>
			
			
		</div>
		<div class = "bubbles">
			<img src="images/bubble.png">
			<img src="images/bubble.png">
			<img src="images/bubble.png">
			<img src="images/bubble.png">
			<img src="images/bubble.png">
			<img src="images/bubble.png">
			<img src="images/bubble.png">
			
		</div>

	</div>



</body>
</html>